body {
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  ///Main-page
  .main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(
      circle at top,
      hsl(214, 47%, 23%),
      hsl(237, 49%, 15%)
    );

    nav {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      ul {
        padding: 0px;
        li {
          padding-top: 30px;
          list-style-type: none;
          a {
            color: #fff;
            text-decoration: none;
            font-size: 2.9em;
          }
        }
      }
    }

    ///End Main-page

    /// Rock, paper, scissors =>  icons common style
    .icon {
      position: absolute;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      box-shadow: inset 2px -5px 3px 0px rgba(0, 0, 0, 0.5);
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    // Regular component
    .common-style {
      padding-top: 40px;
      padding-left: 5%;
      padding-right: 5%;
      .logo-score {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 35px;
        padding-bottom: 35px;

        border: solid 3px rgba(253, 253, 253, 0.3);
        border-radius: 10px;
        .logo {
        }

        .score {
          height: 100px;
          width: 100px;
          border-radius: 20%;
          background-color: #fff;
        }
      }
      //Regular
      .bg-triangle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .paper-icon {
          bottom: 200px;
          right: 190px;
          background-image: radial-gradient(
            #fff 40px,
            hsl(230, 89%, 62%) 47px,
            hsl(230, 89%, 65%) 58px
          );
        }
        .rock-icon {
          top: 157px;
          left: 90px;
          background-image: radial-gradient(
            #fff 40px,
            hsl(349, 71%, 52%) 47px,
            hsl(349, 70%, 56%) 58px
          );
        }
        .scissors-icon {
          bottom: 200px;
          left: 191px;
          background-image: radial-gradient(
            #fff 40px,
            hsl(39, 89%, 49%) 47px,
            hsl(40, 84%, 53%) 58px
          );
        }
      }
      .bg-pentagone {
        @extend .bg-triangle;
        .paper-icon {
          bottom: 130px;
          left: 210px;
        }
        .rock-icon {
          top: 240px;
          left: 170px;
        }
        .scissors-icon {
          bottom: 240px;
          left: 90px;
        }
        .lizard-icon {
          top: 240px;
          left: 10px;
          background-image: radial-gradient(
            #fff 40px,
            hsl(261, 73%, 60%) 47px,
            hsl(261, 72%, 63%) 58px
          );
        }
        .spock-icon {
          bottom: 130px;
          left: 0px;
          background-image: radial-gradient(
            #fff 40px,
            hsl(189, 59%, 53%) 47px,
            hsl(189, 58%, 57%) 58px
          );
        }
      }
    }

    .bonus {
      .logo-bonus {
        position: absolute;
        top: 10%;
        left: 10%;
      }
    }
  }
}

@media (min-width: 400px) {
  body {
    .main {
      .common-style {
        .bg-pentagone {
          .spock-icon {
            left: -30px;
          }
          .paper-icon {
            left: 230px;
          }
        }
      }
    }
  }
}
