body {
	padding: 0px;
	margin: 0px;
	font-size: 10px;
	///Main-page

	.main {
		position: relative;
		height: 100vh;
		width: 100vw;
		background-image: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
		overflow: hidden;
		#scissors {
			background-image: radial-gradient(#fff 40px, hsl(39, 89%, 49%) 47px, hsl(40, 84%, 53%) 58px);
		}
		#rock {
			background-image: radial-gradient(#fff 40px, hsl(349, 71%, 52%) 47px, hsl(349, 70%, 56%) 58px);
		}
		#paper {
			background-image: radial-gradient(#fff 40px, hsl(230, 89%, 62%) 47px, hsl(230, 89%, 65%) 58px);
		}
		#lizard {
			background-image: radial-gradient(#fff 40px, hsl(261, 73%, 60%) 47px, hsl(261, 72%, 63%) 58px);
		}
		#spock {
			background-image: radial-gradient(#fff 40px, hsl(189, 59%, 53%) 47px, hsl(189, 58%, 57%) 58px);
		}

		nav {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			ul {
				padding: 0px;
				li {
					padding-top: 30px;
					list-style-type: none;
					a {
						color: #fff;
						text-decoration: none;
						font-size: 2.9em;
					}
				}
			}
		}

		///End Main-page

		/// Rock, paper, scissors =>  icons common style
		.icon {
			position: absolute;
			height: 120px;
			width: 120px;
			border-radius: 50%;
			box-shadow: inset 2px -5px 3px 0px rgba(0, 0, 0, 0.5);
			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		// Regular component
		.common-style {
			padding-top: 40px;
			padding-left: 5%;
			padding-right: 5%;
			.logo-score {
				width: 100%;
				display: flex;
				justify-content: space-around;
				padding-top: 35px;
				padding-bottom: 35px;

				border: solid 3px rgba(253, 253, 253, 0.3);
				border-radius: 10px;
				.logo {
				}

				.score {
					height: 100px;
					width: 100px;
					text-align: center;
					border-radius: 20%;
					font-size: 3em;

					font-weight: 600;
					background-color: #fff;
				}
			}
			//Regular

			.bg-triangle {
				position: absolute;
				top: 55%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				.paper-icon {
					bottom: 200px;
					right: 190px;
				}
				.rock-icon {
					top: 157px;
					left: 90px;
				}
				.scissors-icon {
					bottom: 200px;
					left: 191px;
				}
			}
			.regular-result {
				position: relative;

				top: 40%;

				height: 400px;
				width: 288px;
				display: flex;
				text-align: center;
				flex-direction: column;
				font-size: 1.9em;

				.loose-win-same {
					position: absolute;
					height: 250px;
					width: 250px;
					border-radius: 50%;
					background: repeating-radial-gradient(rgba(255, 255, 255, 0.1) 30%, rgba(36, 21, 100, 0.1) 40%);
				}
				.loose-background-div {
					position: absolute;
					top: 9px;
					left: 100px;
				}

				.win-background-div {
					display: none;
					position: absolute;
					top: 9px;
					right: 100px;
				}
				.container-icons {
					position: relative;
					width: 100%;
					height: 250px;
					.icon {
						top: 75px;
					}
					.computer-choice {
						.icon {
							top: 75px;
							right: 0px;
						}
					}
				}
				.play-again {
					display: inline-block;
					text-align: center;
					&:hover {
						cursor: pointer;
					}
					p {
						height: 40px;
						width: 70px;
						padding: 10px;
						border-radius: 20px;
						font-weight: 800;
						background-color: #fff;
					}
				}
				.buton-regular {
					position: relative;
					height: 40px;
					width: 100px;
					left: 31%;
					transform: 'translateX(-31%)';
					border: solid 3px rgba(253, 253, 253, 0.3);
					border-radius: 10px;
					&:hover {
						cursor: pointer;
					}
					p {
						text-align: center;
						margin: 0px;
						padding-top: 10px;
						color: #fff;
					}
				}
			}

			//////
			overflow: hidden;
			.bg-pentagone {
				@extend .bg-triangle;
				.paper-icon {
					bottom: 130px;
					left: 210px;
				}
				.rock-icon {
					top: 240px;
					left: 170px;
				}
				.scissors-icon {
					bottom: 240px;
					left: 90px;
				}
				.lizard-icon {
					top: 240px;
					left: 10px;
				}
				.spock-icon {
					bottom: 130px;
					left: 0px;
				}
			}
		}

		.bonus {
			.logo-bonus {
				position: absolute;
				top: 10%;
				left: 10%;
			}
		}
	}
}
@media screen and (max-height: 768px) {
	body {
		.main {
			.common-style {
				.bg-triangle {
					top: 80%;
					left: 50%;
					transform: translate(-50%, -80%);
				}
			}
		}
	}
}
@media (min-width: 400px) {
	body {
		.main {
			.common-style {
				.bg-pentagone {
					.spock-icon {
						left: -30px;
					}
					.paper-icon {
						left: 230px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 400px) and (max-width: 711px) {
	/* body {
	
	} */

	body {
		.main {
			.common-style {
				.regular-result {
					position: relative;
					left: 20%;
					transform: 'translate(-40%)';
					width: 300px;
				}
				.buton-regular {
					left: 70%;
				}
			}
		}
	}
}

@media only screen and (min-width: 711px) and (max-width: 769px) {
	body {
		.main {
			.common-style {
				.regular-result {
					position: relative;
					left: 20%;
					transform: 'translate(-20%)';
					width: 500px;
					.container-icons {
						.loose-background-div {
							left: 320px;
						}
					}
					.buton-regular {
						left: 70%;
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 769px) and (max-width: 1090px) {
	body {
		.main {
			.common-style {
				.regular-result {
					position: relative;
					left: 20%;
					transform: 'translate(-20%)';
					width: 500px;
					.container-icons {
						.loose-background-div {
							left: 320px;
						}
					}
					.buton-regular {
						left: 70%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1090px) {
	body {
		.main {
			.common-style {
				.regular-result {
					position: relative;
					left: 20%;
					transform: 'translate(-20%)';
					width: 700px;
					.container-icons {
						.loose-background-div {
							left: 520px;
						}
					}
					.buton-regular {
						left: 70%;
					}
				}
			}
		}
	}
}
